<!DOCTYPE html>
<html>
<head>
    <title>Manager Dashboard</title>
</head>
<body>
    <h2>Welcome to the Manager Dashboard</h2>
    <p>You are logged in as the manager.</p>
    <a href="{% url 'add_driver' %}">
        <button>Add Driver</button>
    </a>
    <a href="{% url 'remove_driver' %}">
        <button>Remove Driver</button>
    </a><br>
    <a href="{% url 'add_bus' %}">
        <button>Add Bus</button>
    </a>

    <a href="{% url 'remove_bus' %}">
        <button>Remove Bus</button>
    </a>
    <br>
    <a href="{% url 'manager_login' %}">Logout</a>
</body>
</html>
